.avatar {
	width: 5rem;
	height: 5rem;
	background-color: gold;
	float: left;
	margin-right: 0.5rem;
}

.tweet {
	border: 3px solid lightblue;

	/* It's not the best way to solve the problem */
	/* overflow: hidden; */
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* .clear {
	clear: both;
} */
