body {
	background-image: url(../images/bg-sanfrancisco.jpg);
	background-repeat: no-repeat;
	/* background-position: 100% 200px; */
	background-size: cover;
	background-attachment: fixed;
	height: 300vh;
}
